#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.carousel-slide img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
  }
